/* ==========================================================================
   PSDGator CSS Styles [VARIABLES]
   Theme Settings
   ========================================================================== */

:root {

  /* html|body */
  --main-font-family: sans-serif;
  --main-font-size: 16px;
  --main-font-color: #323335;
  --body-background: #f2f3f5;

  /* layout */
  --container-width: 1440px;
  --container-pad: min(8vw, 100px);

  /* grid */
  --grid-gap-0: 0;
  --grid-gap-1: 12px;
  --grid-gap-2: 24px;
  --grid-gap-3: 36px;
  --grid-gap-4: 48px;
  --grid-gap-5: 60px;

  /*--> Place custom settings here <--*/

}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra large devices ( laptops ) */
@media only screen and (max-width: 1366px) {
  :root {}
}

/* Large devices ( tablets ) */
@media only screen and (max-width: 1024px) {
  :root {}
}

/* Medium devices ( landscape phones ) */
@media only screen and (max-width: 768px) {
  :root {}
}

/* Small devices ( portrait phones ) */
@media only screen and (max-width: 500px) {
  :root {
    --container-pad: 20px;
  }
}
/* ==========================================================================
   PSDGator CSS Styles [UTILITIES]

   A tiny utility-first CSS "framework"
   ========================================================================== */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.position-static {
  position: static;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.d-none {
  display: none;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra large devices ( laptops ) */
@media only screen and (max-width: 1366px) {

  .text-xl-center {
    text-align: center;
  }

  .text-xl-left {
    text-align: left;
  }

  .text-xl-right {
    text-align: right;
  }

  .float-xl-left {
    float: left;
  }

  .float-xl-right {
    float: right;
  }

  .overflow-xl-hidden {
    overflow: hidden;
  }

  .overflow-xl-visible {
    overflow: visible;
  }

  .position-xl-static {
    position: static;
  }

  .position-xl-relative {
    position: relative;
  }

  .position-xl-absolute {
    position: absolute;
  }

  .d-xl-block {
    display: block;
  }

  .d-xl-inline-block {
    display: inline-block;
  }

  .d-xl-flex {
    display: flex;
  }

  .d-xl-inline-flex {
    display: inline-flex;
  }

  .d-xl-none {
    display: none;
  }

}

/* Large devices ( tablets ) */
@media only screen and (max-width: 1024px) {

  .text-lg-center {
    text-align: center;
  }

  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }

  .float-lg-left {
    float: left;
  }

  .float-lg-right {
    float: right;
  }

  .overflow-lg-hidden {
    overflow: hidden;
  }

  .overflow-lg-visible {
    overflow: visible;
  }

  .position-lg-static {
    position: static;
  }

  .position-lg-relative {
    position: relative;
  }

  .position-lg-absolute {
    position: absolute;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-inline-block {
    display: inline-block;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-inline-flex {
    display: inline-flex;
  }

  .d-lg-none {
    display: none;
  }

}

/* Medium devices ( landscape phones ) */
@media only screen and (max-width: 768px) {

  .text-md-center {
    text-align: center;
  }

  .text-md-left {
    text-align: left;
  }

  .text-md-right {
    text-align: right;
  }

  .float-md-left {
    float: left;
  }

  .float-md-right {
    float: right;
  }

  .overflow-md-hidden {
    overflow: hidden;
  }

  .overflow-md-visible {
    overflow: visible;
  }

  .position-md-static {
    position: static;
  }

  .position-md-relative {
    position: relative;
  }

  .position-md-absolute {
    position: absolute;
  }

  .d-md-block {
    display: block;
  }

  .d-md-inline-block {
    display: inline-block;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-inline-flex {
    display: inline-flex;
  }

  .d-md-none {
    display: none;
  }

}

/* Small devices ( portrait phones ) */
@media only screen and (max-width: 500px) {

  .text-sm-center {
    text-align: center;
  }

  .text-sm-left {
    text-align: left;
  }

  .text-sm-right {
    text-align: right;
  }

  .float-sm-left {
    float: left;
  }

  .float-sm-right {
    float: right;
  }

  .overflow-sm-hidden {
    overflow: hidden;
  }

  .overflow-sm-visible {
    overflow: visible;
  }

  .position-sm-static {
    position: static;
  }

  .position-sm-relative {
    position: relative;
  }

  .position-sm-absolute {
    position: absolute;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-inline-block {
    display: inline-block;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-inline-flex {
    display: inline-flex;
  }

  .d-sm-none {
    display: none;
  }

}
/* ==========================================================================
   PSDGator CSS Styles [GRID]
   ========================================================================== */

/**
 * Rows & Columns
 */

.row {
	display: flex;
	flex-wrap: wrap;
	--pg0: var(--grid-gap-0);
	--pg1: var(--grid-gap-1);
	--pg2: var(--grid-gap-2);
	--pg3: var(--grid-gap-3);
	--pg4: var(--grid-gap-4);
	--pg5: var(--grid-gap-5);
	--ng0: calc(var(--grid-gap-0) * -1);
	--ng1: calc(var(--grid-gap-1) * -1);
	--ng2: calc(var(--grid-gap-2) * -1);
	--ng3: calc(var(--grid-gap-3) * -1);
	--ng4: calc(var(--grid-gap-4) * -1);
	--ng5: calc(var(--grid-gap-5) * -1);
}

.row--hcenter {
	justify-content: center;
}

.row--vcenter {
	align-items: center;
}

/**
 * A small hack so we don't have to include max-width
 * with the appropriate percentage everywhere (less file size)
 */
[class^="col"] {
	min-width: 0;
}

.col {
	flex: 1;
	max-width: 100%;
}

.col-auto {
	flex: auto;
	max-width: 100%;
	width: auto;
}

.col-1 {
	flex: 8.33333%;
	max-width: 8.33333%;
}

.col-2 {
	flex: 16.66667%;
	max-width: 16.66667%;
}

.col-3 {
	flex: 25%;
	max-width: 25%;
}

.col-4 {
	flex: 33.33333%;
	max-width: 33.33333%;
}

.col-5 {
	flex: 41.66667%;
	max-width: 41.66667%;
}

.col-6 {
	flex: 50%;
	max-width: 50%;
}

.col-7 {
	flex: 58.33333%;
	max-width: 58.33333%;
}

.col-8 {
	flex: 66.66667%;
	max-width: 66.66667%;
}

.col-9 {
	flex: 75%;
	max-width: 75%;
}

.col-10 {
	flex: 83.33333%;
	max-width: 83.33333%;
}

.col-11 {
	flex: 91.66667%;
	max-width: 91.66667%;
}

.col-12 {
	flex: 100%;
	max-width: 100%;
}

.off-1 {
	margin-left: 8.33333%;
}

.off-2 {
	margin-left: 16.66667%;
}

.off-3 {
	margin-left: 25%;
}

.off-4 {
	margin-left: 33.33333%;
}

.off-5 {
	margin-left: 41.66667%;
}

.off-6 {
	margin-left: 50%;
}

.off-7 {
	margin-left: 58.33333%;
}

.off-8 {
	margin-left: 66.66667%;
}

.off-9 {
	margin-left: 75%;
}

.off-10 {
	margin-left: 83.33333%;
}

.off-11 {
	margin-left: 91.66667%;
}

/**
* Horizontal and Vertical gaps
*/

.gap-0,
.gap-0-x {
	margin-left: var(--ng0);
}

.gap-1,
.gap-1-x {
	margin-left: var(--ng1);
}

.gap-2,
.gap-2-x {
	margin-left: var(--ng2);
}

.gap-3,
.gap-3-x {
	margin-left: var(--ng3);
}

.gap-4,
.gap-4-x {
	margin-left: var(--ng4);
}

.gap-5,
.gap-5-x {
	margin-left: var(--ng5);
}

.gap-0,
.gap-0-y {
	margin-top: var(--ng0);
}

.gap-1,
.gap-1-y {
	margin-top: var(--ng1);
}

.gap-2,
.gap-2-y {
	margin-top: var(--ng2);
}

.gap-3,
.gap-3-y {
	margin-top: var(--ng3);
}

.gap-4,
.gap-4-y {
	margin-top: var(--ng4);
}

.gap-5,
.gap-5-y {
	margin-top: var(--ng5);
}

.gap-0 > *,
.gap-0-x > * {
	padding-left: var(--pg0);
}

.gap-1 > *,
.gap-1-x > * {
	padding-left: var(--pg1);
}

.gap-2 > *,
.gap-2-x > * {
	padding-left: var(--pg2);
}

.gap-3 > *,
.gap-3-x > * {
	padding-left: var(--pg3);
}

.gap-4 > *,
.gap-4-x > * {
	padding-left: var(--pg4);
}

.gap-5 > *,
.gap-5-x > * {
	padding-left: var(--pg5);
}

.gap-0 > *,
.gap-0-y > * {
	padding-top: var(--pg0);
}

.gap-1 > *,
.gap-1-y > * {
	padding-top: var(--pg1);
}

.gap-2 > *,
.gap-2-y > * {
	padding-top: var(--pg2);
}

.gap-3 > *,
.gap-3-y > * {
	padding-top: var(--pg3);
}

.gap-4 > *,
.gap-4-y > * {
	padding-top: var(--pg4);
}

.gap-5 > *,
.gap-5-y > * {
	padding-top: var(--pg5);
}

/* Extra large devices ( laptops ) */
@media only screen and (max-width: 1366px) {
	.col-xl {
		flex: 1;
		max-width: 100%;
	}

	.col-xl-auto {
		flex: 1;
		max-width: 100%;
		width: 100%;
	}

	.col-xl-1 {
		flex: 8.33333%;
		max-width: 8.33333%;
	}

	.col-xl-2 {
		flex: 16.66667%;
		max-width: 16.66667%;
	}

	.col-xl-3 {
		flex: 25%;
		max-width: 25%;
	}

	.col-xl-4 {
		flex: 33.33333%;
		max-width: 33.33333%;
	}

	.col-xl-5 {
		flex: 41.66667%;
		max-width: 41.66667%;
	}

	.col-xl-6 {
		flex: 50%;
		max-width: 50%;
	}

	.col-xl-7 {
		flex: 58.33333%;
		max-width: 58.33333%;
	}

	.col-xl-8 {
		flex: 66.66667%;
		max-width: 66.66667%;
	}

	.col-xl-9 {
		flex: 75%;
		max-width: 75%;
	}

	.col-xl-10 {
		flex: 83.33333%;
		max-width: 83.33333%;
	}

	.col-xl-11 {
		flex: 91.66667%;
		max-width: 91.66667%;
	}

	.col-xl-12 {
		flex: 100%;
		max-width: 100%;
	}

	.off-xl-1 {
		margin-left: 8.33333%;
	}

	.off-xl-2 {
		margin-left: 16.66667%;
	}

	.off-xl-3 {
		margin-left: 25%;
	}

	.off-xl-4 {
		margin-left: 33.33333%;
	}

	.off-xl-5 {
		margin-left: 41.66667%;
	}

	.off-xl-6 {
		margin-left: 50%;
	}

	.off-xl-7 {
		margin-left: 58.33333%;
	}

	.off-xl-8 {
		margin-left: 66.66667%;
	}

	.off-xl-9 {
		margin-left: 75%;
	}

	.off-xl-10 {
		margin-left: 83.33333%;
	}

	.off-xl-11 {
		margin-left: 91.66667%;
	}

	.reset-xl {
		margin-left: 0;
	}

	.gap-xl-0,
	.gap-xl-0-x {
		margin-left: var(--ng0);
	}

	.gap-xl-1,
	.gap-xl-1-x {
		margin-left: var(--ng1);
	}

	.gap-xl-2,
	.gap-xl-2-x {
		margin-left: var(--ng2);
	}

	.gap-xl-3,
	.gap-xl-3-x {
		margin-left: var(--ng3);
	}

	.gap-xl-4,
	.gap-xl-4-x {
		margin-left: var(--ng4);
	}

	.gap-xl-5,
	.gap-xl-5-x {
		margin-left: var(--ng5);
	}

	.gap-xl-0,
	.gap-xl-0-y {
		margin-top: var(--ng0);
	}

	.gap-xl-1,
	.gap-xl-1-y {
		margin-top: var(--ng1);
	}

	.gap-xl-2,
	.gap-xl-2-y {
		margin-top: var(--ng2);
	}

	.gap-xl-3,
	.gap-xl-3-y {
		margin-top: var(--ng3);
	}

	.gap-xl-4,
	.gap-xl-4-y {
		margin-top: var(--ng4);
	}

	.gap-xl-5,
	.gap-xl-5-y {
		margin-top: var(--ng5);
	}

	.gap-xl-0 > *,
	.gap-xl-0-x > * {
		padding-left: var(--pg0);
	}

	.gap-xl-1 > *,
	.gap-xl-1-x > * {
		padding-left: var(--pg1);
	}

	.gap-xl-2 > *,
	.gap-xl-2-x > * {
		padding-left: var(--pg2);
	}

	.gap-xl-3 > *,
	.gap-xl-3-x > * {
		padding-left: var(--pg3);
	}

	.gap-xl-4 > *,
	.gap-xl-4-x > * {
		padding-left: var(--pg4);
	}

	.gap-xl-5 > *,
	.gap-xl-5-x > * {
		padding-left: var(--pg5);
	}

	.gap-xl-0 > *,
	.gap-xl-0-y > * {
		padding-top: var(--pg0);
	}

	.gap-xl-1 > *,
	.gap-xl-1-y > * {
		padding-top: var(--pg1);
	}

	.gap-xl-2 > *,
	.gap-xl-2-y > * {
		padding-top: var(--pg2);
	}

	.gap-xl-3 > *,
	.gap-xl-3-y > * {
		padding-top: var(--pg3);
	}

	.gap-xl-4 > *,
	.gap-xl-4-y > * {
		padding-top: var(--pg4);
	}

	.gap-xl-5 > *,
	.gap-xl-5-y > * {
		padding-top: var(--pg5);
	}
}

/* Large devices ( tablets ) */
@media only screen and (max-width: 1024px) {
	.col-lg {
		flex: 1;
		max-width: 100%;
	}

	.col-lg-auto {
		flex: 1;
		max-width: 100%;
		width: 100%;
	}

	.col-lg-1 {
		flex: 8.33333%;
		max-width: 8.33333%;
	}

	.col-lg-2 {
		flex: 16.66667%;
		max-width: 16.66667%;
	}

	.col-lg-3 {
		flex: 25%;
		max-width: 25%;
	}

	.col-lg-4 {
		flex: 33.33333%;
		max-width: 33.33333%;
	}

	.col-lg-5 {
		flex: 41.66667%;
		max-width: 41.66667%;
	}

	.col-lg-6 {
		flex: 50%;
		max-width: 50%;
	}

	.col-lg-7 {
		flex: 58.33333%;
		max-width: 58.33333%;
	}

	.col-lg-8 {
		flex: 66.66667%;
		max-width: 66.66667%;
	}

	.col-lg-9 {
		flex: 75%;
		max-width: 75%;
	}

	.col-lg-10 {
		flex: 83.33333%;
		max-width: 83.33333%;
	}

	.col-lg-11 {
		flex: 91.66667%;
		max-width: 91.66667%;
	}

	.col-lg-12 {
		flex: 100%;
		max-width: 100%;
	}

	.off-lg-1 {
		margin-left: 8.33333%;
	}

	.off-lg-2 {
		margin-left: 16.66667%;
	}

	.off-lg-3 {
		margin-left: 25%;
	}

	.off-lg-4 {
		margin-left: 33.33333%;
	}

	.off-lg-5 {
		margin-left: 41.66667%;
	}

	.off-lg-6 {
		margin-left: 50%;
	}

	.off-lg-7 {
		margin-left: 58.33333%;
	}

	.off-lg-8 {
		margin-left: 66.66667%;
	}

	.off-lg-9 {
		margin-left: 75%;
	}

	.off-lg-10 {
		margin-left: 83.33333%;
	}

	.off-lg-11 {
		margin-left: 91.66667%;
	}

	.reset-lg {
		margin-left: 0;
	}

	.gap-lg-0,
	.gap-lg-0-x {
		margin-left: var(--ng0);
	}

	.gap-lg-1,
	.gap-lg-1-x {
		margin-left: var(--ng1);
	}

	.gap-lg-2,
	.gap-lg-2-x {
		margin-left: var(--ng2);
	}

	.gap-lg-3,
	.gap-lg-3-x {
		margin-left: var(--ng3);
	}

	.gap-lg-4,
	.gap-lg-4-x {
		margin-left: var(--ng4);
	}

	.gap-lg-5,
	.gap-lg-5-x {
		margin-left: var(--ng5);
	}

	.gap-lg-0,
	.gap-lg-0-y {
		margin-top: var(--ng0);
	}

	.gap-lg-1,
	.gap-lg-1-y {
		margin-top: var(--ng1);
	}

	.gap-lg-2,
	.gap-lg-2-y {
		margin-top: var(--ng2);
	}

	.gap-lg-3,
	.gap-lg-3-y {
		margin-top: var(--ng3);
	}

	.gap-lg-4,
	.gap-lg-4-y {
		margin-top: var(--ng4);
	}

	.gap-lg-5,
	.gap-lg-5-y {
		margin-top: var(--ng5);
	}

	.gap-lg-0 > *,
	.gap-lg-0-x > * {
		padding-left: var(--pg0);
	}

	.gap-lg-1 > *,
	.gap-lg-1-x > * {
		padding-left: var(--pg1);
	}

	.gap-lg-2 > *,
	.gap-lg-2-x > * {
		padding-left: var(--pg2);
	}

	.gap-lg-3 > *,
	.gap-lg-3-x > * {
		padding-left: var(--pg3);
	}

	.gap-lg-4 > *,
	.gap-lg-4-x > * {
		padding-left: var(--pg4);
	}

	.gap-lg-5 > *,
	.gap-lg-5-x > * {
		padding-left: var(--pg5);
	}

	.gap-lg-0 > *,
	.gap-lg-0-y > * {
		padding-top: var(--pg0);
	}

	.gap-lg-1 > *,
	.gap-lg-1-y > * {
		padding-top: var(--pg1);
	}

	.gap-lg-2 > *,
	.gap-lg-2-y > * {
		padding-top: var(--pg2);
	}

	.gap-lg-3 > *,
	.gap-lg-3-y > * {
		padding-top: var(--pg3);
	}

	.gap-lg-4 > *,
	.gap-lg-4-y > * {
		padding-top: var(--pg4);
	}

	.gap-lg-5 > *,
	.gap-lg-5-y > * {
		padding-top: var(--pg5);
	}
}

/* Medium devices ( landscape phones ) */
@media only screen and (max-width: 768px) {
	.col-md {
		flex: 1;
		max-width: 100%;
	}

	.col-md-auto {
		flex: 1;
		max-width: 100%;
		width: 100%;
	}

	.col-md-1 {
		flex: 8.33333%;
		max-width: 8.33333%;
	}

	.col-md-2 {
		flex: 16.66667%;
		max-width: 16.66667%;
	}

	.col-md-3 {
		flex: 25%;
		max-width: 25%;
	}

	.col-md-4 {
		flex: 33.33333%;
		max-width: 33.33333%;
	}

	.col-md-5 {
		flex: 41.66667%;
		max-width: 41.66667%;
	}

	.col-md-6 {
		flex: 50%;
		max-width: 50%;
	}

	.col-md-7 {
		flex: 58.33333%;
		max-width: 58.33333%;
	}

	.col-md-8 {
		flex: 66.66667%;
		max-width: 66.66667%;
	}

	.col-md-9 {
		flex: 75%;
		max-width: 75%;
	}

	.col-md-10 {
		flex: 83.33333%;
		max-width: 83.33333%;
	}

	.col-md-11 {
		flex: 91.66667%;
		max-width: 91.66667%;
	}

	.col-md-12 {
		flex: 100%;
		max-width: 100%;
	}

	.off-md-1 {
		margin-left: 8.33333%;
	}

	.off-md-2 {
		margin-left: 16.66667%;
	}

	.off-md-3 {
		margin-left: 25%;
	}

	.off-md-4 {
		margin-left: 33.33333%;
	}

	.off-md-5 {
		margin-left: 41.66667%;
	}

	.off-md-6 {
		margin-left: 50%;
	}

	.off-md-7 {
		margin-left: 58.33333%;
	}

	.off-md-8 {
		margin-left: 66.66667%;
	}

	.off-md-9 {
		margin-left: 75%;
	}

	.off-md-10 {
		margin-left: 83.33333%;
	}

	.off-md-11 {
		margin-left: 91.66667%;
	}

	.reset-md {
		margin-left: 0;
	}

	.gap-md-0,
	.gap-md-0-x {
		margin-left: var(--ng0);
	}

	.gap-md-1,
	.gap-md-1-x {
		margin-left: var(--ng1);
	}

	.gap-md-2,
	.gap-md-2-x {
		margin-left: var(--ng2);
	}

	.gap-md-3,
	.gap-md-3-x {
		margin-left: var(--ng3);
	}

	.gap-md-4,
	.gap-md-4-x {
		margin-left: var(--ng4);
	}

	.gap-md-5,
	.gap-md-5-x {
		margin-left: var(--ng5);
	}

	.gap-md-0,
	.gap-md-0-y {
		margin-top: var(--ng0);
	}

	.gap-md-1,
	.gap-md-1-y {
		margin-top: var(--ng1);
	}

	.gap-md-2,
	.gap-md-2-y {
		margin-top: var(--ng2);
	}

	.gap-md-3,
	.gap-md-3-y {
		margin-top: var(--ng3);
	}

	.gap-md-4,
	.gap-md-4-y {
		margin-top: var(--ng4);
	}

	.gap-md-5,
	.gap-md-5-y {
		margin-top: var(--ng5);
	}

	.gap-md-0 > *,
	.gap-md-0-x > * {
		padding-left: var(--pg0);
	}

	.gap-md-1 > *,
	.gap-md-1-x > * {
		padding-left: var(--pg1);
	}

	.gap-md-2 > *,
	.gap-md-2-x > * {
		padding-left: var(--pg2);
	}

	.gap-md-3 > *,
	.gap-md-3-x > * {
		padding-left: var(--pg3);
	}

	.gap-md-4 > *,
	.gap-md-4-x > * {
		padding-left: var(--pg4);
	}

	.gap-md-5 > *,
	.gap-md-5-x > * {
		padding-left: var(--pg5);
	}

	.gap-md-0 > *,
	.gap-md-0-y > * {
		padding-top: var(--pg0);
	}

	.gap-md-1 > *,
	.gap-md-1-y > * {
		padding-top: var(--pg1);
	}

	.gap-md-2 > *,
	.gap-md-2-y > * {
		padding-top: var(--pg2);
	}

	.gap-md-3 > *,
	.gap-md-3-y > * {
		padding-top: var(--pg3);
	}

	.gap-md-4 > *,
	.gap-md-4-y > * {
		padding-top: var(--pg4);
	}

	.gap-md-5 > *,
	.gap-md-5-y > * {
		padding-top: var(--pg5);
	}
}

/* Small devices ( portrait phones ) */
@media only screen and (max-width: 500px) {
	.col-sm {
		flex: 1;
		max-width: 100%;
	}

	.col-sm-auto {
		flex: 1;
		max-width: 100%;
		width: 100%;
	}

	.col-sm-1 {
		flex: 8.33333%;
		max-width: 8.33333%;
	}

	.col-sm-2 {
		flex: 16.66667%;
		max-width: 16.66667%;
	}

	.col-sm-3 {
		flex: 25%;
		max-width: 25%;
	}

	.col-sm-4 {
		flex: 33.33333%;
		max-width: 33.33333%;
	}

	.col-sm-5 {
		flex: 41.66667%;
		max-width: 41.66667%;
	}

	.col-sm-6 {
		flex: 50%;
		max-width: 50%;
	}

	.col-sm-7 {
		flex: 58.33333%;
		max-width: 58.33333%;
	}

	.col-sm-8 {
		flex: 66.66667%;
		max-width: 66.66667%;
	}

	.col-sm-9 {
		flex: 75%;
		max-width: 75%;
	}

	.col-sm-10 {
		flex: 83.33333%;
		max-width: 83.33333%;
	}

	.col-sm-11 {
		flex: 91.66667%;
		max-width: 91.66667%;
	}

	.col-sm-12 {
		flex: 100%;
		max-width: 100%;
	}

	.off-sm-1 {
		margin-left: 8.33333%;
	}

	.off-sm-2 {
		margin-left: 16.66667%;
	}

	.off-sm-3 {
		margin-left: 25%;
	}

	.off-sm-4 {
		margin-left: 33.33333%;
	}

	.off-sm-5 {
		margin-left: 41.66667%;
	}

	.off-sm-6 {
		margin-left: 50%;
	}

	.off-sm-7 {
		margin-left: 58.33333%;
	}

	.off-sm-8 {
		margin-left: 66.66667%;
	}

	.off-sm-9 {
		margin-left: 75%;
	}

	.off-sm-10 {
		margin-left: 83.33333%;
	}

	.off-sm-11 {
		margin-left: 91.66667%;
	}

	.reset-sm {
		margin-left: 0;
	}

	.gap-sm-0,
	.gap-sm-0-x {
		margin-left: var(--ng0);
	}

	.gap-sm-1,
	.gap-sm-1-x {
		margin-left: var(--ng1);
	}

	.gap-sm-2,
	.gap-sm-2-x {
		margin-left: var(--ng2);
	}

	.gap-sm-3,
	.gap-sm-3-x {
		margin-left: var(--ng3);
	}

	.gap-sm-4,
	.gap-sm-4-x {
		margin-left: var(--ng4);
	}

	.gap-sm-5,
	.gap-sm-5-x {
		margin-left: var(--ng5);
	}

	.gap-sm-0,
	.gap-sm-0-y {
		margin-top: var(--ng0);
	}

	.gap-sm-1,
	.gap-sm-1-y {
		margin-top: var(--ng1);
	}

	.gap-sm-2,
	.gap-sm-2-y {
		margin-top: var(--ng2);
	}

	.gap-sm-3,
	.gap-sm-3-y {
		margin-top: var(--ng3);
	}

	.gap-sm-4,
	.gap-sm-4-y {
		margin-top: var(--ng4);
	}

	.gap-sm-5,
	.gap-sm-5-y {
		margin-top: var(--ng5);
	}

	.gap-sm-0 > *,
	.gap-sm-0-x > * {
		padding-left: var(--pg0);
	}

	.gap-sm-1 > *,
	.gap-sm-1-x > * {
		padding-left: var(--pg1);
	}

	.gap-sm-2 > *,
	.gap-sm-2-x > * {
		padding-left: var(--pg2);
	}

	.gap-sm-3 > *,
	.gap-sm-3-x > * {
		padding-left: var(--pg3);
	}

	.gap-sm-4 > *,
	.gap-sm-4-x > * {
		padding-left: var(--pg4);
	}

	.gap-sm-5 > *,
	.gap-sm-5-x > * {
		padding-left: var(--pg5);
	}

	.gap-sm-0 > *,
	.gap-sm-0-y > * {
		padding-top: var(--pg0);
	}

	.gap-sm-1 > *,
	.gap-sm-1-y > * {
		padding-top: var(--pg1);
	}

	.gap-sm-2 > *,
	.gap-sm-2-y > * {
		padding-top: var(--pg2);
	}

	.gap-sm-3 > *,
	.gap-sm-3-y > * {
		padding-top: var(--pg3);
	}

	.gap-sm-4 > *,
	.gap-sm-4-y > * {
		padding-top: var(--pg4);
	}

	.gap-sm-5 > *,
	.gap-sm-5-y > * {
		padding-top: var(--pg5);
	}
}
/* ==========================================================================
   PSDGator CSS Styles [BASE]
   ========================================================================== */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

picture,
img {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/**
 * Helpers
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/**
 * The Container
 */

.container {
  width: 100%;
  max-width: var(--container-width);
  padding: 0 var(--container-pad);
  margin: 0 auto;
}

.container--fluid {
  max-width: 100%;
}

/**
 * Global styles
 */

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  color: var(--main-font-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: 400;
  line-height: 1.5;
}

body {
  background-color: var(--body-background);
}
/* ==========================================================================
   PSDGator CSS Styles [MAIN]
   ========================================================================== */

.site-header {
}

.main-content {
}

.site-footer {
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra large devices ( laptops ) */
@media only screen and (max-width: 1366px) {
}

/* Large devices ( tablets ) */
@media only screen and (max-width: 1024px) {
}

/* Medium devices ( landscape phones ) */
@media only screen and (max-width: 768px) {
}

/* Small devices ( portrait phones ) */
@media only screen and (max-width: 500px) {
}
/* ==========================================================================
   Print styles.
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *, *::before, *::after { background: #fff !important; color: #000 !important; /* Black prints faster */ box-shadow: none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]::after { content: " (" attr(href) ")"; }
  abbr[title]::after { content: " (" attr(title) ")"; }

  /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
  a[href^="#"]::after, a[href^="javascript:"]::after { content: ""; }
  pre { white-space: pre-wrap !important; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }

  /*
    * Printing Tables:
    * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
    */
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
