/* ==========================================================================
   PSDGator SCSS Styles [PARTIALS:404]
   ========================================================================== */

	 .section--404{
		min-height: 70vh;
		display: flex;
		justify-content: center;
		align-items: center;
		.s404-content{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.s404-title{
			font-size: 8rem;
		}
		.s404-subtitle{
			font-size: 3rem;
		}
		.s404-image{
			max-height: 250px;
		}
		.s404-text{
		}
		.s404-link{
			color: #fff!important;
			padding: 10px 20px;
			background: #39ac31;
			margin: 20px 0;
			display: inline-block;
		}
	 }
