.slider-example {
	margin-bottom: 60px;

	.slick-slide {
    padding: 240px 60px;
    font-size: 30px;
    text-align: center;
    background: #fff;
    border: 1px solid rgb(35 35 35 / 10%);
    border-radius: 3px;
	}
}

.slick-prev::before, .slick-next::before {
	color: #000;
}

.slick-next {
	right: 25px;
	z-index: 1;
}

.slick-prev {
	left: 25px;
	z-index: 1;
}
